/* narrow, centered column */
/* images contained within column */
html {
    max-width: 70ch;
    /*center things */
    margin-inline: auto;
}
body { 
    background-color:gainsboro
}
h1 { font-family: "Vollkorn", serif; 
}
p { font-family: "Arial", sans-serif;
}
a:link {
    color: green;
}
a:visited{
    color:chocolate;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  